@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #000000;

  --content-primary: #09090b;
  --content-secondary: #71717a;
  --content-tertiary: #a1a1aa;

  --content-inverse-primary: #ffffff;
  --content-inverse-secondary: #71717a;
  --content-inverse-tertiary: #a1a1aa;

  --background-primary: #ffffff;
  --background-secondary: #fafafa;
  --background-tertiary: #f4f4f5;

  --background-inverse-primary: #18181b;
  --background-inverse-secondary: #27272a;
  --background-inverse-tertiary: #52525b;

  --background-hover: #3b82f6;
  --background-hover-overlay: #00000006;
  --background-inverse-hover-overlay: #ffffff0d;

  --border-primary: #e4e4e7;
  --border-secondary: #f4f4f5;
  --border-tertiary: #fafafa;

  --border-inverse-primary: #3f3f46;
  --border-inverse-secondary: #27272a;
  --border-inverse-tertiary: #09090b;

  --border-hover-overlay: #00000033;
  --border-inverse-hover-overlay: #ffffff1a;

  --content-green: #16a34a;
  --border-error: #ef4444;
  --border-warning: #f59e0b;
  --border-success: #22c55e;
  --background-red: #fee2e2;
  --background-orange: #ffedd5;
  --background-green: #dcfce7;
}

.dark {
  --white: #000000;
  --black: #ffffff;

  --content-primary: #ffffff;
  --content-secondary: #71717a;
  --content-tertiary: #a1a1aa;

  --content-inverse-primary: #ffffff;
  --content-inverse-secondary: #d4d4d8;
  --content-inverse-tertiary: #a1a1aa;

  --background-primary: #18181b;
  --background-secondary: #27272a;
  --background-tertiary: #3f3f46;

  --background-inverse-primary: #52525b;
  --background-inverse-secondary: #a1a1aa;
  --background-inverse-tertiary: #e4e4e7;

  --background-hover: #3b82f6;
  --background-hover-overlay: #ffffff0d;
  --background-inverse-hover-overlay: #00000006;

  --border-primary: #3f3f46;
  --border-secondary: #27272a;
  --border-tertiary: #09090b;

  --border-inverse-primary: #3f3f46;
  --border-inverse-secondary: #27272a;
  --border-inverse-tertiary: #3f3f46;

  --border-hover-overlay: #ffffff1a;
  --border-inverse-hover-overlay: #00000033;

  --content-green: #16a34a;
  --border-error: #ef4444;
  --border-warning: #f59e0b;
  --border-success: #22c55e;
  --background-red: #fee2e2;
  --background-orange: #ffedd5;
  --background-green: #dcfce7;
}

@layer base {
  h1 {
    @apply display-medium;
  }

  h2 {
    @apply display-small;
  }

  h3 {
    @apply display-tiny;
  }

  h4 {
    @apply heading-large;
  }

  h5 {
    @apply heading-medium;
  }

  h6 {
    @apply heading-small;
  }

  span {
    @apply label-base;
  }

  p {
    @apply paragraph-base;
  }
}

/*@layer utilities {*/
/*  .display-extra-large {*/
/*    @apply tracking-tight uppercase font-sofiaSansCondensed text-9xl font-bold text-content-primary;*/
/*  }*/
/**/
/*  .display-large {*/
/*    @apply tracking-tight uppercase font-sofiaSansCondensed text-8xl font-bold text-content-primary;*/
/*  }*/
/**/
/*  .display-medium {*/
/*    @apply tracking-tight uppercase font-sofiaSansCondensed text-7xl font-bold text-content-primary;*/
/*  }*/
/**/
/*  .display-small {*/
/*    @apply tracking-tight uppercase font-sofiaSansCondensed text-6xl font-bold text-content-primary;*/
/*  }*/
/**/
/*  .display-tiny {*/
/*    @apply tracking-tight uppercase font-sofiaSansCondensed text-5xl font-bold text-content-primary;*/
/*  }*/
/**/
/*  .heading-large {*/
/*    @apply tracking-tight uppercase font-sofiaSansCondensed text-4xl font-bold text-content-primary;*/
/*  }*/
/**/
/*  .heading-medium {*/
/*    @apply tracking-tight uppercase font-sofiaSansCondensed text-3xl font-bold text-content-primary;*/
/*  }*/
/**/
/*  .heading-small {*/
/*    @apply tracking-tight uppercase font-sofiaSansCondensed text-2xl font-bold text-content-primary;*/
/*  }*/
/**/
/*  .heading-tiny {*/
/*    @apply tracking-tight uppercase font-sofiaSansCondensed text-xl font-bold text-content-primary;*/
/*  }*/
/**/
/*  .label-large {*/
/*    @apply font-inter text-lg font-medium text-content-primary;*/
/*  }*/
/**/
/*  .label-base {*/
/*    @apply font-inter text-base font-medium text-content-primary;*/
/*  }*/
/**/
/*  .label-small {*/
/*    @apply font-inter text-sm font-medium text-content-primary;*/
/*  }*/
/**/
/*  .label-tiny {*/
/*    @apply font-inter text-xs font-medium text-content-primary;*/
/*  }*/
/**/
/*  .paragraph-large {*/
/*    @apply font-inter text-lg font-normal text-content-primary;*/
/*  }*/
/**/
/*  .paragraph-base {*/
/*    @apply font-inter text-base font-normal text-content-primary;*/
/*  }*/
/**/
/*  .paragraph-small {*/
/*    @apply font-inter text-sm font-normal text-content-primary;*/
/*  }*/
/**/
/*  .paragraph-tiny {*/
/*    @apply font-inter text-xs font-normal text-content-primary;*/
/*  }*/
/*}*/
